#title {
	margin-bottom: 30px;
	text-align: center;
	font-size: 40px;
}

#grid {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: 20px;
}

.item {
	display: flex;
	align-items: center;
	border: 1px solid #fbbd0dbf;
}

.item:hover {
	color: #fbbd0d;
	border: 1px solid #fbbd0d;
	transition: 0.2s;
}

.content {
	width: 100%;
	padding: 30px 20px;
	text-align: center;
}

.content h3 {
	padding-bottom: 30px;
}

.content p {
	font-size: 12px;
}

#more {
	width: 100%;
	margin-top : 40px;
	padding : 20px;
	border: 1px solid #fbbd0dbf;
	color: inherit;
	background-color: inherit;
	font-size: 20px;
}

#more:hover {
	color: #fbbd0d;
	border: 1px solid #fbbd0d;
	transition: 0.2s;
}